<%= form_with model: @message, method: :post, class: "mb-5", data: { controller: :form } do |form| %>
    <div class="form-floating">
      <%= form.text_field :content, class: "form-control bg-body-tertiary", autocomplete: "off" %>
      <%= form.label "Message", for: :content, class: "form-label" %>
    </div>
    <%= form.hidden_field :thread_id, value: @thread_id %>
  <% end %>
