<li id="<%= dom_id(conversation) %>" class="p-2 border-bottom bg-body-tertiary">
  <a href="#!" class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <div class="pt-1">
        <p class="fw-bold mb-0">
          <%= link_to(conversation.title, root_path(conversation_id: conversation.conversation_id), class: "nav-link") %>
        </p>
      </div>
    </div>
    <div class="pt-1">
      <p class="small text-muted mb-1"><%= distance_of_time_in_words(Time.current, conversation.created_at) %> ago</p>
    </div>
  </a>
</li>
